:root {
    --mainColor: #686B56;
    --secondaryColor: #515A48;
    --borderColor: #161194;
    --mainText: #FFF;
    --secondaryText: #eeeeee;
    --themeDotBorder: #24292e;
    --previewBg: rgb(81, 90, 72, 0.8);
    --previewShadow: #2a2f25;
    --btnColor: #669966;
}